 ul {
    color: white;
    list-style-type: none;
    margin-left: 0px;
    padding: 10;
    overflow: hidden;
    
}
.top{
    height: 50px;px
    width: 100%;
    background-color: #333;
}
.li{
	float: left;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.pic{
    height: 370px;
    width: 370px;
    margin-left: 220px;
    margin-top: -410px;
    border-radius: 80px;
    border:1px solid black;

}
img{
    border-radius: 80px;
}
body{
    background-image: url("../images/background4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.verticalLine {
  border-left: thin solid grey;
  margin-left: 600px;
  height: 400px;
  width: 1px;
.list{
    width: 450px;
    border: 2px solid black;
}